<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>企业秀</title>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/downloadpage.css" />
    <script type="text/javascript" src="/lib/jquery/jquery-1.8.1.min.js"></script>

</head>
<body>
<div class="container content">

    <h3 class="down-h2">新系统升级通知</h3>
    <p class="down-text">现有工单系统将于7月1号晚上12点关闭。7月2号开始使用全新的工单系统，所有订单将在新系统流通。请各位师傅下载APP，注册并熟悉。</p>
    <p class="down-phone">如果有疑问请咨询：<font>400-013-2313</font></p>
    <p class="down-ac"><img src="images/ac.png" /></p>
    <p class="down-phone">活动奖品：T袖　或　现金</p>
    <div class="down-person">
        <img src="images/down-person.png" />
    </div>
    <p class="have">已有5000师傅下载并且注册</p>
    <div class="row">
        <div class="col-xs-6"><a class="down-btn1" onclick="uploadImg();return false;"><img src="images/andriod.png" /></a></div>
        <div class="col-xs-6"><a class="down-btn1"><img src="images/IOS.png" /></a></div>
    </div>
    <div class="row wait-text"><div class="col-xs-6 col-xs-push-6 pa-text">ios版本正在审核请土豪师傅们等几天下载</div></div>

</div>

<div class="container footer">&copy;深圳市中企工联保家电服务有限公司</div>

</body>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: '<?php echo $appid;?>',
        timestamp: <?php echo $timestamp;?>,
        nonceStr: '<?php echo $nonceStr;?>',
        signature: '<?php echo $jsapi_sigure;?>',
        jsApiList: [
            'onMenuShareAppMessage'
        ]
    });


    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 如有问题请通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.ready(function () {
        var shareData = {
            title: '在这里——家乐千万家，金戒找到你！中奖率高达67%喔！！',
            desc: '输入兑奖码即可参加抽奖，不仅有67%的中奖率，还可已参加礼上礼和累计兑奖喔！大票子、金戒指、美背包，统统等你来拿！',
            link: '{$this_url}',
            imgUrl: '{_UFS_STATIC_HOST}mobile/img/unileverLucky/lopt.png'
        };
        wx.onMenuShareAppMessage(shareData);
    });
    wx.error(function (res) {
        //alert(res.errMsg);
    });
    function uploadImg(){
        var localIds;
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                for(var key in localIds)
                {
                       alert(key);
                }
            }
        });
    }

</script>
</html>