<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>企业秀</title>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/show.css" />
    <link rel="stylesheet" href="/css/eqShow.css" />
    <script type="text/javascript" src="/lib/jquery/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="/js/show.js"></script>

</head>
<body>
<!--
<div class="nr">
    <section id="page1" name="page1" class="main-page" style="display: block;">
        <div class="img_bg">
            <div class="comp_image test_play" >
                <div class="img-h"></div>
                <img src="/images/test_4.png"  style=""/>
            </div>
            <div class="editable-image test_state">
                <div class="img-e"></div>
                <img src="/images/icon_19.png" />
            </div>
        </div>


    </section>
    <section id="page2" class="main-page">
        <div class="img_bg1">
            <div class="success-roll" style="">
                <div class="comp_image">
                    <div style="height: 70px;"></div>
                    <img src="/images/test_2.png"  />
                </div>
                <div class="editable-image">
                    <div style="height: 80px;"></div>
                    <p><img class="ed-img" page="2" score="100" src="/images/icon_15.png" /></p>
                    <p><img class="ed-img" page="2" score="78" src="/images/icon_14.png" /></p>
                    <p><img class="ed-img" page="2" score="75" src="/images/icon_1.png"  /></p>
                </div>
            </div>
        </div>


    </section>
    <section id="page3" class="main-page">
        <div class="img_bg1">
            <div class="success-roll">
                <div class="comp_image">
                    <div style="height: 100px;"></div>
                    <img src="/images/test_7.png"  />
                </div>
                <div class="editable-image">
                    <div style="height: 100px;"></div>
                    <p>
                        <img class="ed-img" page="3" score="100" src="/images/icon_16.png"  />
                        <img class="ed-img" page="3" score="98" src="/images/icon_2.png"  />
                        <img class="ed-img" page="3" score="95" src="/images/icon_20.png"  />
                    </p>
                    <p>
                        <img class="ed-img" page="3" score="93" src="/images/icon_4.png"  />
                        <img class="ed-img" page="3" score="90" src="/images/icon_5.png"  />
                        <img class="ed-img" page="3" score="85" src="/images/icon_6.png"  />
                    </p>
                    <p>  <img class="ed-img" page="3" score="10" src="/images/icon_7.png" ></p>
                </div>
            </div>
        </div>

    </section>
    <section id="page4" class="main-page">
        <div class="img_bg1">
            <div class="user-3d">
                <div class="comp_image">
                    <div style="height: 100px;"></div>
                    <img src="/images/test_3.png" />
                </div>
                <div class="editable-image">
                    <div style="height: 100px;"></div>
                    <p>
                        <img class="ed-img"  page="4" score="100" src="/images/user_1.png"  />
                        <img class="ed-img" page="4" score="99" src="/images/user_2.png"  />
                        <img class="ed-img" page="4" score="98" src="/images/user_3.png"  />
                    </p>
                </div>
            </div>
        </div>


    </section>
    <section id="page5" class="main-page">
        <div class="img_bg1">
            <div class="team-3d">
                <div class="comp_image">
                    <div style="height: 100px;"></div>
                    <img src="/images/test_6.png" >
                </div>
                <div class="editable-image">
                    <div style="height: 100px;"></div>
                    <p>
                        <img class="ed-img" page="5" score="86" src="/images/icon_8.png"  />
                        <img class="ed-img" page="5" score="88" src="/images/icon_9.png"  />
                        <img class="ed-img" page="5" score="93" src="/images/icon_21.png"  />
                    </p>
                    <p style="position: absolute;margin-left: 58px;">
                        <img class="ed-img" page="5" score="95" src="/images/icon_10.png"  />
                        <img class="ed-img" page="5" score="100" src="/images/icon_11.png"  />
                    </p>
                </div>
            </div>
        </div>


    </section>
    <section id="page6" class="main-page">
        <div class="img_bg1">
            <div class="chance-3d">
                <div class="comp_image">
                    <div style="height: 100px;"></div>
                    <img src="/images/test_1.png" />
                </div>
                <div class="editable-image">
                    <div style="height: 100px;"></div>
                    <p><img class="ed-img" page="6" score="50" src="/images/icon_3.png" /></p>
                    <p><img class="ed-img" page="6" score="80" src="/images/icon_12.png" /></p>
                    <p><img class="ed-img" page="6" score="100" src="/images/icon_13.png" /></p>
                </div>
            </div>
        </div>
    </section>
    <section id="page7" class="main-page">
        <div class="img_bg2">
            <div class="comp_image">
                <div style="height: 200px;"></div>
                <img src="/images/test_5.png" />
            </div>
            <div class="editable-image">
                <div style="height: 120px;"></div>
                <img src="/images/icon_17.png" />
            </div>
            <div class="editable-image">
                <div style="height: 120px;"></div>
                <img onClick="edClick();" src="/images/icon_18.png" />
            </div>
            <div class="editable-image">
                <div style="height: 40px;"></div>
                <div onClick="follow();" style="text-align: center;font-size: 30px;color: #fff;">关注我们</div>
            </div>
        </div>

    </section>

</div>
-->
<img  id="fx" style="position: fixed; top: 0;" src="/images/shares.png" />
<div class="potent-bg">
    <p class="potent-txt">您的创业潜力值为：</p>
    <p class="potent-num">456</p>
    <a href="" onclick="uploadImg();return false;">上传图片</a>

</div>
</body>
<div id="pay_follow" name="pay_follow"><img  src="/images/follow.jpg" /></div>
<!--<div class="music"  status="0"><images src="__PUBLIC__//images/music.gif"></div> 音乐 -->

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: '<?php echo $appid;?>',
        timestamp: <?php echo $timestamp;?>,
        nonceStr: '<?php echo $nonceStr;?>',
        signature: '<?php echo $jsapi_sigure;?>',
        jsApiList: [
            'onMenuShareAppMessage'
        ]
    });


    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 如有问题请通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.ready(function () {
        var shareData = {
            title: '在这里——家乐千万家，金戒找到你！中奖率高达67%喔！！',
            desc: '输入兑奖码即可参加抽奖，不仅有67%的中奖率，还可已参加礼上礼和累计兑奖喔！大票子、金戒指、美背包，统统等你来拿！',
            link: '{$this_url}',
            imgUrl: '{_UFS_STATIC_HOST}mobile/img/unileverLucky/lopt.png'
        };
        wx.onMenuShareAppMessage(shareData);
    });
    wx.error(function (res) {
        //alert(res.errMsg);
    });
    function uploadImg(){
        var localIds;
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                for(var key in localIds)
                {
                       alert(key);
                }
            }
        });
    }

</script>
</html>